/* Sets flexbox settings for project cards. */
.cd-cards
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

/* Defines size of project cards. */
.cd-cards > * 
{
	width: 24rem;	
	transition: transform .2s;
}

.cd-cards > *:hover
{	
	transform: scale(1.035);
}

.cd-text-align-justify
{
	text-align: justify;
}